class Settings
  attr_accessor :jid, :group_chat, :room, :password, :db_plus_one, :db_chat

  def initialize
    @room = 'some.groupchat'
    @jid = 'me@some.jabber.server/Something'
    @group_chat = "#{@room}@some.other.name.server/my.nick"
    @password = 'my.password'
    @db_plus_one = "#{@room}-database_plus_ones.yml"
    @db_chat = "#{@room}-database_chat.yml"
    @db_downloaded_links = "#{@room}-downloaded_links/"
  end
end


