class Settings
  attr_accessor :jid, :room, :password

  def initialize
    @jid = 'me@some.jabber.server/Something'
    @room = 'some.groupchat@some.other.name.server/my.nick'
    @password = 'my.password'
  end
end


